<div class="container">
    <div *ngIf='trip'>
        <h1 class="text-center text-primary mt-5">{{trip.title}}</h1> 
        <div class="mt-4">
            <tabset [justified]="true">
                <tab heading="Description">
                    <div class="mt-3 ml-3">
                        <h4 class="text-success"><strong>Trip time</strong></h4>
                        <p class="ml-5">{{trip.startDate | date}} - {{trip.endDate | date}}</p>
                    </div>
                    <div class="mt-3 ml-3">
                        <h4 class="text-success"><strong>Description</strong></h4>
                        <p class="ml-5">{{trip.description}}</p>
                    </div>
                    <div class="mt-3 ml-3">
                        <h4 class="text-success"><strong>Form of transport</strong></h4>
                        <p class="ml-5">{{trip.formOfTransport}}</p>
                    </div>
                </tab>
                <tab heading="Members">Here will appear the list of members taking part in this amazing trip!</tab>
            </tabset>
        </div>
    </div>
</div>


